<div class="footer">
  <div class="container text-center text-white mb-5"><br><br><br>
    <h3>WANNA BE THE FIRST ON THE TREND?</h3><br>
    <input type="text" class="subscribe-form">&nbsp;&nbsp;&nbsp;&nbsp;<button class="btn btn-danger">Subscribe</button>
  </div>

  <div class="container borderbot">
    <div class="row">

      <div class="col">
        <a href="">Fashion</a><br>
        <a href="">Women's Fashion</a><br>
        <a href="">Men's Fashion</a><br>
        <a href="">Shirts</a><br>
        <a href="">Dresses</a><br>
        <a href="">Hoodies</a><br>
        <a href="">Sweaters</a><br>
        <a href="">Pants</a><br>
        <a href="">Shoes</a><br>
        <a href="">Sports</a><br><br>
      </div>

      <div class="col">
        <a href="">Beauty</a><br>
        <a href="">Makeup</a><br>
        <a href="">Skincare</a><br>
        <a href="">Haircare</a><br>
        <a href="">Personal Care</a><br>
        <a href="">Vitamins</a><br>
        <a href="">Health care</a><br>
        <a href="">Grooming</a><br><br>
      </div>

      <div class="col">
        <a href="">Home</a><br>
        <a href="">Furnitures</a><br>
        <a href="">Appliances</a><br>
        <a href="">Bath</a><br>
        <a href="">Kitchen</a><br>
        <a href="">Lawn & Garden</a><br>
        <a href="">Audio & Video</a><br>
        <a href="">Lifestyle</a><br>
        <a href="">Home Improvement</a><br><br>
      </div>

      <div class="col">
        <a href="">Electronics</a><br>
        <a href="">Mobile</a><br>
        <a href="">Tablets</a><br>
        <a href="">Laptops</a><br>
        <a href="">Headphones</a><br>
        <a href="">Photo & Video</a><br>
        <a href="">Gaming</a><br>
        <a href="">Televisions</a><br><br>
      </div>

      <div class="col">
        <a href="">TOP BRANDS</a><br>
        <a href="">Samsung</a><br>
        <a href="">Adidas</a><br>
        <a href="">Nike</a><br>
        <a href="">Apple</a><br>
        <a href="">Forever 21</a><br>
        <a href="">MAC</a><br>
        <a href="">Revlon</a><br>
        <a href="">Sketchers</a><br>
        <a href="">Maybelline</a><br><br>
      </div>

    </div>
    
  </div>
  <br><p class="text-center text-white">© 2020, Fast China Express</p><br>
 
</div>