<div class="container" style="max-width: 1800px; max-height: 500px;">
  <div class="card">
    <div class="card-body shadow">
 
      <div class="row">

        <div class="col-sm-1">
          <ngx-slick-carousel class="carousel slider-nav" #slickModal="slick-carousel" [config]="slideConfig" (init)="slickInit($event)" (breakpoint)="breakpoint($event)" (afterChange)="afterChange($event)" (beforeChange)="beforeChange($event)">
            <div ngxSlickItem *ngFor="let slide of slides" class="slide">
              <img src="{{ slide.img }}" alt="" width="100%">
            </div>
          </ngx-slick-carousel>
        </div>   
        
        <div class="col-sm-4">
          <ngx-slick-carousel class="carousel slider-for" #slickModal="slick-carousel" [config]="slideConfigSingle" (init)="slickInit($event)" (breakpoint)="breakpoint($event)" (afterChange)="afterChange($event)" (beforeChange)="beforeChange($event)">
            <div ngxSlickItem *ngFor="let slide of slides" class="slide">
              <img src="{{ slide.img }}" alt="" width="100%">
            </div>
          </ngx-slick-carousel>
        </div> 

        <div class="col">
          <h3>DHL Stock Free Shopping X6 tws Wireless Headphone Bluetooth Earphone Sport Earphones Wireless Ear Buds Bass for Xiaomi Huawei Samsung</h3><br><br>

            <div class="row mb-2">
              <div class="col">Febby's Gadget Store&nbsp;&nbsp;&nbsp;&nbsp;
                <img src="../../assets/images/Icon material-chat.png">&nbsp;&nbsp;&nbsp;<img src="../../assets/images/Icon zocial-email.png" style="margin-bottom: 5px;">
              </div>
              <div class="col">(100% Positive Feedback)&nbsp;&nbsp;&nbsp;<img src="../../assets/images/Icon material-feedback.png" style="margin-bottom: 5px;"></div>
            </div>

            <div class="row mb-2">
              <div class="col">Color</div>
              
              <div class="col text-white text-center"><div style="background-color: black; border: 1px solid black; border-radius: 20px;">Black</div></div>
              <div class="col text-white text-center"><div style="background-color: purple; border: 1px solid purple; border-radius: 20px;">Purple</div></div>
              <div class="col text-white text-center"><div style="background-color: red; border: 1px solid red; border-radius: 20px;">Red</div></div>

              <div class="col">
                <div class="dropdown">Size 
                  <select id="" class="">
                    <option selected>S</option>
                    <option>XS</option>
                    <option>M</option>
                    <option>L</option>
                    <option>XL</option>
                  </select>
                </div>
              
              </div>
              <div class="col">Quantity
                <select id="" class="">
                  <option selected>1</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
                  <option>5</option>
                </select>
              </div>
            </div>

            <div class="row mb-2">
              <div class="col bg-gray">Price by Quantity
                <div style="margin-left: 100px;">
                  <img src="../../assets/images/USA.png">
                  <select id="" class="">
                    <option selected>USD</option>
                    <option>PHP</option>
                    <option>WON</option>
                    <option>YEN</option>
                    <option>EUR</option>
                  </select>

                </div>
        
                <div class="container text-center" style="max-width: 500px;">
                <ngx-slick-carousel class="carousel slider-nav" #slickModal="slick-carousel" [config]="slideConfigPrice" (init)="slickInit($event)" (breakpoint)="breakpoint($event)" (afterChange)="afterChange($event)" (beforeChange)="beforeChange($event)">
                  <div ngxSlickItem class="slide">
                    $1,000<br>5 pieces+
                  </div>
                  <div ngxSlickItem class="slide">
                    $2,000<br>10 pieces+
                  </div>
                  <div ngxSlickItem class="slide">
                    $3,000<br>15 pieces+
                  </div>
                  <div ngxSlickItem class="slide">
                    $4,000<br>20 pieces+
                  </div>
                  <div ngxSlickItem class="slide">
                    $5,000<br>25 pieces+
                  </div>
                </ngx-slick-carousel>
              </div>
       
           
              </div>
            </div>

            <div class="row mb-2">
              <div class="col-2">Shipping</div>
              <div class="col">Free Shipping to United States via DHL<br>Estimated delivery time: Jul. 13 and Jul. 16, ships out within 4 business days.
                <i class="fa fa-question-circle-o" aria-hidden="true"></i>
              </div>
            </div>

            <div class="row mb-2">
              <div class="col">Total</div>
              <div class="col">$13,574</div>
              <div class="col">Store Coupon <br> FEBBY2020 </div>
            </div>

            <div class="row mb-2">
              <div class="col">BUY NOW</div>
              <div class="col">ADD TO CART</div>
              <div class="col">APPLE PAY</div>
            </div>

            <div class="row mb-2">
              <div class="col">Secure Payment</div>
              <div class="col">x</div>
              <div class="col">x</div>
              <div class="col">x</div>
              <div class="col">x</div>
              <div class="col">x</div>
            </div>

            <div class="row mb-2">
              <div class="col">Seller Guarantee</div>
              <div class="col">Return Policy</div>
              <div class="col">On-time Delivery in 6 Days</div>
            </div>

        </div>

      </div>
    </div>

  </div>
</div>

