<div class="container" style="max-width: 1800px"><br>
  <a href="">Home</a>&nbsp;>
  <a href="">All Categories</a>&nbsp;>
  <a href="">Electronics</a>&nbsp;>
  <a href="">Headphones & Earphones</a>&nbsp;>
  <a href="">Product Detail</a>
</div>
<br>

  <app-slider-product></app-slider-product>





<div class="container mt-5" style="max-width: 1800px;">
  <div class="row">
    <div class="col-8">
      <div class="card">
        <div class="card-body shadow">

          <ul class="nav nav-tabs productnav" id="myTab" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" data-toggle="tab" href="#item" role="tab" aria-controls="home" aria-selected="true">Item Description</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#itemspec" role="tab" aria-controls="itemspec" aria-selected="false">Item Specification</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#photos" role="tab" aria-controls="photo" aria-selected="false">Photos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#shipping" role="tab" aria-controls="shipping" aria-selected="false">Shipping</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#return" role="tab" aria-controls="return" aria-selected="false">Return Policy Details</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#review" role="tab" aria-controls="review" aria-selected="false">Reviews</a>
            </li>
          </ul>

          <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="item" role="tabpanel" aria-labelledby="item-tab">
              <span>
                <br><br><br>
                Bluetooth version:<br>
                Headphone battery capacity:<br>
                Bottom battery capacity:<br>
                Charging time:<br>
                Talk time:<br>
                Play time:<br>
                Standby time:<br>
                Number of times for charging the headset:<br>
                Bluetooth distance:<br>
                Control method:<br>
                Speaker:<br>
                Receive sensitivity:<br>
                Microphone: <br>
                Frequency:<br>
                Voltage:<br>
                Impedance ohms:<br>
                Headphone battery output W:<br><br>
              </span>
            </div>
            <div class="tab-pane fade" id="itemspec" role="tabpanel" aria-labelledby="itemspec-tab">2</div>
            <div class="tab-pane fade" id="photos" role="tabpanel" aria-labelledby="photos-tab">3</div>
            <div class="tab-pane fade" id="shipping" role="tabpanel" aria-labelledby="shipping-tab">4</div>
            <div class="tab-pane fade" id="return" role="tabpanel" aria-labelledby="return-tab">5</div>
            <div class="tab-pane fade" id="review" role="tabpanel" aria-labelledby="review-tab">6</div>
          </div>

        </div>
      </div>
    </div>

    <div class="col-4">
      <div class="card">
        <div class="card-header">
          Vendor Information
        </div>
        <div class="card-body shadow text-center" style="border-top-left-radius: unset; border-top-right-radius: unset;">
          <br>
          <img src="../../assets/images/pogi.png">
          <h5>Febby's Gadget Store</h5>
          (100% Positive Feedback)<br>
          
          <img src="../../assets/images/stars.png"><br><br>
          <div class="border"></div><br>
          <img src="../../assets/images/Icon material-chat.png">&nbsp;&nbsp;&nbsp;
          <img src="../../assets/images/Icon zocial-email.png">&nbsp;&nbsp;&nbsp;
          <img src="../../assets/images/Icon material-feedback.png">&nbsp;&nbsp;&nbsp; <br><br>
          Product Quality: &nbsp;&nbsp;&nbsp;<i class="fa fa-arrow-circle-up" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp; Above Average<br>
          Tracking & Delivery:&nbsp;&nbsp;&nbsp;<i class="fa fa-arrow-circle-up" aria-hidden="true"></i> &nbsp;&nbsp;&nbsp;Above Average<br>
          Customer Service:&nbsp;&nbsp;&nbsp;<i class="fa fa-arrow-circle-up" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp; Above Average<br>
          Repurchase Rate:&nbsp;&nbsp;&nbsp;<i class="fa fa-arrow-circle-up" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp; Above Average<br><br>

          <div class="border"></div><br>

          Top 3 Markets<br>
          <img src="../../assets/images/countrygroup.png"><br><br>

          </div>
        </div>
      </div>
  </div>
</div>

<div class="container mt-5" style="max-width: 1800px">
  <div class="card">
    <div class="card-body shadow">
      

  <div class="container mt-5 mb-5">
    <h5> More items from this vendor</h5>
        <div  class="swiper-container" [swiper]="config">
          <div class="swiper-wrapper">
            <div class="swiper-slide p-4">
              <img src="../../assets/images/Rectangle 80.png">
            </div>
            <div class="swiper-slide p-4">
              <img src="../../assets/images/Rectangle 81.png">
            </div>
            <div class="swiper-slide p-4">
              <img src="../../assets/images/Rectangle 82.png">
            </div>
            <div class="swiper-slide p-4">
              <img src="../../assets/images/Rectangle 83.png">
            </div>
            <div class="swiper-slide p-4">
              <img src="../../assets/images/Rectangle 80.png">
            </div>
            <div class="swiper-slide p-4">
              <img src="../../assets/images/Rectangle 81.png">
            </div>
            <div class="swiper-slide p-4">
              <img src="../../assets/images/Rectangle 82.png">
            </div>
            <div class="swiper-slide p-4">
              <img src="../../assets/images/Rectangle 83.png">
            </div>
          </div>
          <div class="swiper-scrollbar"></div>     
          <div class="swiper-button-next"></div>
          <div class="swiper-button-prev"></div>
        </div>
      </div>
    </div>

  </div>
</div>

<div class="container mt-5" style="max-width: 1800px">
  <div class="card">
    <div class="card-body shadow">
      

  <div class="container mt-5 mb-5">
    <h5> More Choices</h5>
        <div  class="swiper-container" [swiper]="config">
          <div class="swiper-wrapper">
            <div class="swiper-slide p-4">
              <img src="../../assets/images/Rectangle 80.png">
            </div>
            <div class="swiper-slide p-4">
              <img src="../../assets/images/Rectangle 81.png">
            </div>
            <div class="swiper-slide p-4">
              <img src="../../assets/images/Rectangle 82.png">
            </div>
            <div class="swiper-slide p-4">
              <img src="../../assets/images/Rectangle 83.png">
            </div>
            <div class="swiper-slide p-4">
              <img src="../../assets/images/Rectangle 80.png">
            </div>
            <div class="swiper-slide p-4">
              <img src="../../assets/images/Rectangle 81.png">
            </div>
            <div class="swiper-slide p-4">
              <img src="../../assets/images/Rectangle 82.png">
            </div>
            <div class="swiper-slide p-4">
              <img src="../../assets/images/Rectangle 83.png">
            </div>
          </div>
          <div class="swiper-scrollbar"></div>     
          <div class="swiper-button-next"></div>
          <div class="swiper-button-prev"></div>
        </div>
      </div>
    </div>

  </div>
</div>


<router-outlet></router-outlet>