<div class="container my-3">
  <div class="row">
    <div class="col-sm">
      <img src="../assets/images/Rectangle 1.png">
    </div>
    <div class="col-sm">
      <img src="../assets/images/Rectangle 66.png">
    </div>
    <div class="col-sm">
      <img src="../assets/images/Rectangle 68.png">
    </div>
    <div class="col-sm">
      <img src="../assets/images/Group 39.png">
    </div>
  </div>
</div>

<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <a routerLink="/product-page"><img class="d-block w-100" src="../assets/images/Group 40.png" alt="First slide"></a>
    </div>
    <div class="carousel-item">
      <a routerLink="/product-page"><img class="d-block w-100" src="../assets/images/Group 40.png" alt="Second slide"></a>
    </div>
    <div class="carousel-item">
      <a routerLink="/product-page"><img class="d-block w-100" src="../assets/images/Group 40.png" alt="Second slide"></a>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<div class="container my-5 text-center">
  <div class="row">
    <div class="col-sm">
      <img src="../../assets/images/Ellipse 13.png">
      <p>Sports</p>
    </div>
    <div class="col-sm">
      <img src="../../assets/images/Ellipse 12.png">
      <p>Appliances</p>
    </div>
    <div class="col-sm">
      <img src="../../assets/images/Ellipse 7.png">
      <p>Home</p>
    </div>
    <div class="col-sm">
      <img src="../../assets/images/Ellipse 8.png">
      <p>Clothing</p>
    </div>
    <div class="col-sm">
      <img src="../../assets/images/Ellipse 9.png">
      <p>Electronics</p>
    </div>
    <div class="col-sm">
      <img src="../../assets/images/Ellipse 14.png">
      <p>Beauty</p>
    </div>
    <div class="col-sm">
      <img src="../../assets/images/Ellipse 11.png">
      <p>Phone</p>
    </div>
    <div class="col-sm">
      <img src="../../assets/images/Ellipse 15.png">
      <p>Gaming</p>
    </div>
  </div>
</div>




<app-slider-recommended></app-slider-recommended>
<app-slider-new-arrival></app-slider-new-arrival>

<img src="../../assets/images/Group 43.png" class="mb-5">

<app-slider-hot-selling></app-slider-hot-selling>
<app-slider-essentials></app-slider-essentials>

<div class="container mb-5">
  <div class="row">
    <div class="col-xl">
      <img src="../../assets/images/Group 41.png">
    </div>
    <div class="col-xl">
      <img src="../../assets/images/Group 42.png">
    </div>
  </div>
</div>

<app-footer></app-footer>
<router-outlet></router-outlet>
