<div class="container mb-5">
  <div class="card">
    <div class="card-body shadow">
      <h5 class="card-title">Hot Selling! 🔥</h5>
      <div  class="swiper-container" [swiper]="config" [(index)]="index">
        <div class="swiper-wrapper">
          <div class="swiper-slide p-4">
            <img src="../../assets/images/Rectangle 80.png">
          </div>
          <div class="swiper-slide p-4">
            <img src="../../assets/images/Rectangle 81.png">
          </div>
          <div class="swiper-slide p-4">
            <img src="../../assets/images/Rectangle 82.png">
          </div>
          <div class="swiper-slide p-4">
            <img src="../../assets/images/Rectangle 83.png">
          </div>
          <div class="swiper-slide p-4">
            <img src="../../assets/images/Rectangle 80.png">
          </div>
          <div class="swiper-slide p-4">
            <img src="../../assets/images/Rectangle 81.png">
          </div>
          <div class="swiper-slide p-4">
            <img src="../../assets/images/Rectangle 82.png">
          </div>
          <div class="swiper-slide p-4">
            <img src="../../assets/images/Rectangle 83.png">
          </div>
        </div>
        <div class="swiper-scrollbar"></div>     
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
      </div>
    </div>
  </div>
</div>