@import '../node_modules/swiper/css/swiper.min.css';

@font-face {
  font-family: 'Gilroy';
  src:  url('./assets/fonts/gilroy.woff') format('woff2'),
        url('./assets/fonts/gilroy2.woff2') format('woff');
}

@font-face {
  font-family: 'Gilroy-bold';
  src:  url('./assets/fonts/gilroyextrabold.woff') format('woff2'),
        url('./assets/fonts/gilroyextrabold2.woff2') format('woff');
}

body {
  font-family: Gilroy;
  overflow-x: hidden;
  background-color: #F4F4F4;
}

img {
  max-width: 100%;
  height: auto;
}

.card, .card-body {
  border-radius: 25px;
  border: none;
}

.footer {
  background-color: #23272D;
}

input[type=text] {
  width: 35%;
  padding: 8px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border-radius: 12px;
}